* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

/*HEADER*/
#header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.logo {
    width: 200px;
    height: 110px;
    padding-left: 50px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    z-index: 1000;
}

.menu-lista {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: absolute;
    top: 130px;
    right: 50px;
    background-color: #000;
    width: 200px;
    display: none;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px; rgba(255,255 255, 0.2);
}

.menu-lista li{
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-des {
    background-color: #0077b6;
    margin-left: auto;
    cursor: pointer;
}

.menu-lista li:hover {
    color: #d9d9d9;
    text-decoration: underline;
    transform: scale(1.1);
}

.presentacion {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Hace que el video cubra toda la pantalla */
}

.contenido {
    position: relative;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: #fff;
    z-index: 1;
    font-family: sans-serif;
}

.contenido h1 {
    font-size: 60px;
}

.contenido p {
    font-size: 35px;
}

/*MAIN*/
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nosotros {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

#nosotros {
    scroll-margin-top: 140px;
    /* Ajusta según la altura del menú */
}

.derecha,
.izquierda {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}

.derecha div,
.izquierda div {
    display: flex;
    flex-direction: column;
}

.derecha {
    flex-direction: row-reverse;
}

.izquierda {
    flex-direction: row;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.juntos {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

h2,
h3 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

img:hover {
    transform: scale(1.1);
}

/*FOOTER*/
footer {
    background-color: #01104b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    padding: 20px;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;

}

.contacto {
    position: absolute;
    right: 20px;
    /* Lo coloca en el lado derecho */
    bottom: 50px;
    /* Ajusta la distancia desde abajo */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contacto-num {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.flotante {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    z-index: 1000;
    box-shadow: none !important;
}

.copy {
    text-align: center;
}





/*RESPONSIVO*/

/*@media (max-width: 768px ){

}



@media (max-width: 480px ){
    
}*/